.footer {
    background-color: black;
    color: white;
}
.footer-social {
    font-size: 32pt;
    text-align: center;
}
.footer-link {
    color: white;
    transition: color .15s;
}
.footer-link:hover {
    color: rgba(255,255,255,0.7);
}

iframe#map {
    width: 90%;
    height: 100%;
    min-height: 200px;
}

@media (max-width: 767px) {
    .footer .border-md {
        border: none!important;
    }
}