#portfolio::before {
    display: block;
    content: '';
    margin-top: -15vh;
    height: 15vh;
    visibility: hidden;
    pointer-events: none;
}

#portfolio div {
    position: relative;
}

#portfolio #logo-ph {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}