.hero {
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://via.placeholder.com/500');
    background-size: cover;
}