.navbar {
    background-color: white;
}

.nav-item {
    font-family: 'sonny', sans-serif;
    font-size: 24pt;
}
@media (min-width: 1200px){
    .nav-item {
        font-size: 28pt;
    }
}

.navbar-light .navbar-nav .nav-link.link-black {
    color: rgba(0,0,0,1);
}
.navbar-toggler:focus {
    box-shadow: none!important;
}
.navbar-toggler i {
    color: rgba(0,0,0,1);
    font-size: 2.5em;
}

@media (max-width: 575px){
    .navbar-brand {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .navbar-brand img {
        width: 80px
    }
}